In [1]:
import pandas as pd

In [3]:
s = pd.Series(list('asdadasdsaadsa'))
s

0     a
1     s
2     d
3     a
4     d
5     a
6     s
7     d
8     s
9     a
10    a
11    d
12    s
13    a
dtype: object

In [4]:
s.unique()

array(['a', 's', 'd'], dtype=object)

In [5]:
s.value_counts()

a    6
s    4
d    4
dtype: int64

## Suponha que estejamos testando as moedas que serão utilizadas por árbitros de futebol nas competições da Copa do Mundo. Atualmente, estas moedas são personalizadas e utilizadas em certos momentos dos jogos para decidir, na sorte, uma disputa. Nosso objetivo é verificar se as moedas que serão utilizadas nas competições não sejam viciadas.

In [7]:
m1 = 'CCcCCccCCCccCcCccCcCcCCCcCCcccCCcCcCcCcccCCcCcccCc'
m2 = 'CCCCCccCccCcCCCCccCccccCccCccCCcCccCcCcCCcCccCccCc'
m3 = 'CccCCccCcCCCCCCCCCCcccCccCCCCCCccCCCcccCCCcCCcccCC'
m4 = 'cCCccCCccCCccCCccccCcCcCcCcCcCcCCCCccccCCCcCCcCCCC'
m5 = 'CCCcCcCcCcCCCcCCcCcCCccCcCCcccCccCCcCcCcCcCcccccCc'

In [9]:
eventos = {'m1' : list(m1),
           'm2' : list(m2),
           'm3' : list(m3),
           'm4' : list(m4)
}
moedas = pd.DataFrame(eventos)

In [10]:
moedas

   m1 m2 m3 m4
0   C  C  C  c
1   C  C  c  C
2   c  C  c  C
3   C  C  C  c
4   C  C  C  c
5   c  c  c  C
6   c  c  c  C
7   C  C  C  c
8   C  c  c  c
9   C  c  C  C
10  c  C  C  C
11  c  c  C  c
12  C  C  C  c
13  c  C  C  C
14  C  C  C  C
15  c  C  C  c
16  c  c  C  c
17  C  c  C  c
18  c  C  C  c
19  C  c  c  C
20  c  c  c  c
21  C  c  c  C
22  C  c  C  c
23  C  C  c  C
24  c  c  c  c
25  C  c  C  C
26  C  C  C  c
27  c  c  C  C
28  c  c  C  c
29  c  C  C  C
30  C  C  C  c
31  C  c  c  C
32  c  C  c  C
33  C  c  C  C
34  c  c  C  C
35  C  C  C  c
36  c  c  c  c
37  C  C  c  c
38  c  c  c  c
39  c  C  C  C
40  c  C  C  C
41  C  c  C  C
42  C  C  c  c
43  c  c  C  C
44  C  c  C  C
45  c  C  c  c
46  c  c  c  C
47  c  c  c  C
48  C  C  C  C
49  c  c  C  C

In [27]:
df = pd.DataFrame(data = ['Cara', 'Coroa'], index = ['C', 'c'], columns = ['Faces'])
df
for i in moedas:
    df = pd.concat([df, moedas[item].value_counts()], axis = 1)
df

   Faces  m4  m4  m4  m4
C   Cara  27  27  27  27
c  Coroa  23  23  23  23